 .form{
    text-align: start;
background-color: rgb(106, 163, 179);
padding: 20px;
height: 370px;
border-radius: 5px;
color: rgb(0, 0, 0);
width: 350px;
} 


/* #country{
  width: 100px;  
}
#subject{
    width: 200px;
    height: 80px;
}
.f-l{
    width: 80px;
}


@media only screen and (max-width: 920px) {
    h2{
        display: block;
        margin-left: 70px;
    }
} */
