/* Logo section........................................... */
.logo-menu{
    width: 100px;
  
}

.logo-nam{
    display: none;
}
/* Donate button........................................... */
.donate-button{
    background-color: rgb(240, 0, 0);
 border: none;
    color: aliceblue;
    padding: 0px 20px;
    border-radius: 5px ;
    margin-right: 10px;
    
}
.bln{
    text-decoration: none;
    color: aliceblue;
}
.bln:hover{
   
    color: rgb(0, 0, 0);
}

.nv-menu{
    color: rgb(0, 0, 0);
}

#basic-nav-dropdown{
    color: rgb(0, 0, 0);
}
.nv-menu:hover{
    color: rgb(3, 185, 30);
    border-bottom: 2px solid red;
}

#basic-nav-dropdown:hover{
    color: rgb(3, 185, 30);
    border-bottom: 2px solid red;
}

.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: rgb(3, 185, 30);
    border-bottom: 2px solid red;
}


/* Responsive section....................................... */

@media only screen and (max-width: 450px) {
    .nav{
        flex-direction: column;
    }

    .nv-menu{
        color: rgb(0, 0, 0);
      
    }
    
    #basic-nav-dropdown{
        color: rgb(0, 0, 0);
        
    }

    .logo-nam{
        display: block;
        margin-left: 40px;
      
    }
    .logo-menu{
        margin-left: 130px;
    }

  }
@media only screen and (max-width: 920px) {
    .col-sm-4{
        flex-direction: column;
    }
   
    .nv-menu{
        color: rgb(0, 0, 0);
      
    }
    
    #basic-nav-dropdown{
        color: rgb(0, 0, 0);
        
    }
    .nav{
        flex-direction: column;
    }
  }
@media only screen and (max-width: 1230px) {
   
  }

