 
  .lnk{
      background-color: rgb(231, 27, 27);
      padding: 5px 20px;
      text-decoration: none;
      color: aliceblue;
      
  }
  .we-sub{
      display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

      
  }
  .we-cad{
      margin-left: 20px;
  }

  @media only screen and (max-width: 450px){
      .we-sub{
          flex-direction: column;
         
      }
      .we-cad{
        margin-top: 50px;
      }
  }