.card{
    border-radius: 10px;
    background-color:rgb(236, 236, 232);
   margin: auto;
   width: 250px;
   margin-top: 20px;
       
   }
   .mission-icon{
       color: rgb(232, 6, 6);
   }
   
   h5{
       text-align: start;
       border-bottom: 2px solid red;
     border-bottom-right-radius: 50px;
    
   }
   p{
       text-align: start;
   }
   
   .mission-sub-1{
       display: flex;
       flex-wrap: wrap;
       
   }
   .mission-sub-2{
       display: flex;
       flex-wrap: wrap;
       
   }
   
   

   @media only screen and (max-width: 600px) {
       h4{
     padding: 10px;
     text-align:justify;
     
           
       }
   }